<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Dashboard Retailers : <%= typeof title === "undefined" ? "" : title %></title>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../../assets/retailer/css/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../assets/retailer/css/app.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../assets/retailer/css/style.css" media="screen"/>
    <!-- end of stylesheets -->
    
    
    <script type="text/javascript" src="../../assets/retailer/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.js"></script>

  </head>
